.wrap div{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.agree {
  margin-top: 50px;
  padding:50px;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
}
.agree ul li:nth-child(1) {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.agree ul li:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 5px;
}
.agree ul li:nth-child(3) {
  font-size: 14px;
  color: #666;
}
textarea {
  border: 1px solid #ccc;
  padding: 20px;
  color: #666;
  font-size: 12px;
}


input[type=checkbox] { display:none; }

input[type=checkbox] + label { 

display: inline-block; 

cursor: pointer; 

line-height: 24px; 

padding-left: 22px; 

background: url('/img/member/check_n.png') left/22px no-repeat; 

}

input[type=checkbox]:checked + label { background-image: url('/img/member/check_y.png'); }
