.wrap div{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputBox {
  margin-top: 50px;
  padding: 30px 50px 50px;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
}

input[type=text],
input[type=password],
input[type=date] {
  width: 330px;
  height: 44px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  font-size: 14px;
  padding-left: 5px;
  margin:3px 5px 3px 0;
}

input[type=image] {  
  margin:3px 5px 3px 0;
}

#member_pw,
#member_pw_check {
  width: 200px;
}

#sample6_postcode {
  width: 200px;
}
#sample6_address {
  width: 500px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

span {
  font-size: 16px;
  color: #5f0080;
}

table tr:nth-child(1) td {
  text-align: right;
  font-size: 12px;
  color: #666;
  padding-bottom: 30px;  
}

td:nth-child(1) {
  width: 15%;
  text-align: left;
  vertical-align: top;
  padding-top: 13px;
}
td:nth-child(2) {
  width: 90%;
  font-size: 12px;
  color: #666;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 15px;
}

input[type=radio] { display:none; }

input[type=radio] + label {   
  margin-top: 15px;
  display: inline-block; 
  cursor: pointer; 
  line-height: 22px; 
  padding-left: 22px; 
  background: url('/img/member/r_check_n.png') left/22px no-repeat; 
}

input[type=radio]:checked + label { 
  background-image: url('/img/member/r_check_y.png');
}

input[type=checkbox] { display:none; }

input[type=checkbox] + label { 
  display: inline-block; 
  cursor: pointer; 
  line-height: 24px; 
  padding-left: 22px; 
  background: url('/img/member/check_n.png') left/22px no-repeat; 
}

input[type=checkbox]:checked + label { background-image: url('/img/member/check_y.png'); }
