.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* 테이블 */
table {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
}

th {
  padding: 0 15px;
  height: 50px;
  border-top: 2px solid rgb(95, 0, 128);
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #fafafa;
}

td {
  padding: 0 20px;
  height: 50px;
  color: #666;
  font-size: 12px;
  border-bottom: 1px solid #f1f1f1;
}

/* 공지사항 */
.aside {
  width: 20%;
}
.event_wrap {
  width: 75%;
}

.eventSubject {
  width: 80%;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  background-color: #fafafa;
}
.eventDate {
  width: 60%;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 700;
}
.eventHit {
  width: 18%;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  color: #666;
}

.bg_gr {
  background-color: #fafafa;
  font-size: 12px;
  color: #666;
}

.event_contentWrite {
  padding: 5% 0px 0px 5%;
  height: 15px;
  font-size: 12px;
  color: #666;
}





/* 공지사항View 버튼 스타일 */
.eventViewBtn {
  position: relative;
  display: inline-block;
  width: 12%;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  border: 1px solid #999;
  background-color: #fafafa;
  border-radius: 3px;
}

.eventViewBtn a {
  color: #333;
}

.eventViewBtn:hover .eventViewBtn a{
  color: #333;
  text-decoration: none;
}
/* 삼각형 */
.arrow{
  width: 0;
  height: 0;
  border: 8px solid transparent;
}
.arrow_left{
 position: absolute;
 width: 12px;
 height: 12px;
 top: 9px;
 left: 11px;
}
.arrow_right{
  position: absolute;
  width: 12px;
  height: 12px;
  /* 이미지 좌우 반전 */
  transform:rotate(90deg);
  -moz-transform: scaleX(-1); 
  -o-transform: scaleX(-1); 
  -webkit-transform: scaleX(-1); 
  transform: scaleX(-1);   
  filter: FlipH;
  -ms-filter: "FlipH";
  top: 9px;
  right: 11px;
}

.eventViewBtn_left a{
  position: relative;
}

.eventViewBtn_right a{
  position: relative;
}
.eventView_bottom {
  text-align: center;
}

.eventView_tr1 th{
  margin-left: 200px;
}

.eventView_content p{
  font-size: 13px;
  color: #555;
  line-height: 20px;
}
.eventView_content {
  padding: 30px 20px;
}


