.sTitleBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.infoTxt {
  font-size: 14px;
  color: #999;
  padding-left: 20px;
  margin-bottom: 5px;
}

/* 테이블 */
table {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
}

th {
  padding: 0 15px;
  height: 50px;
  border-top: 2px solid rgb(95, 0, 128);
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

td {
  padding: 0 20px;
  height: 50px;
  color: #666;
  font-size: 12px;
  border-bottom: 1px solid #f1f1f1;
}


/* 공지사항View 버튼 스타일 */
.noticeViewBtn {
  position: relative;
  display: inline-block;
  width: 12%;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  border: 1px solid #999;
  background-color: #fafafa;
  border-radius: 3px;
}

.noticeViewBtn a {
  color: #333;
}

.noticeViewBtn:hover .noticeViewBtn a{
  color: #333;
  text-decoration: none;
}
/* 삼각형 */
.arrow{
  width: 0;
  height: 0;
  border: 8px solid transparent;
}
.arrow_left{
 position: absolute;
 width: 12px;
 height: 12px;
 top: 9px;
 left: 11px;
}
.arrow_right{
  position: absolute;
  width: 12px;
  height: 12px;
  /* 이미지 좌우 반전 */
  transform:rotate(90deg);
  -moz-transform: scaleX(-1); 
  -o-transform: scaleX(-1); 
  -webkit-transform: scaleX(-1); 
  transform: scaleX(-1);   
  filter: FlipH;
  -ms-filter: "FlipH";
  top: 9px;
  right: 11px;
}

.noticeViewBtn_left a{
  position: relative;
}

.noticeViewBtn_right a{
  position: relative;
}
.noticeView_bottom {
  text-align: center;
}

.noticeView_tr th{
  margin-left: 0px;
}

.noticeView_content p{
  font-size: 13px;
  color: #555;
  line-height: 20px;
}
.noticeView_content {
  padding: 30px 20px;
}