@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  list-style-type: none;
}

.wrap div{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.popupTitle {
  font-size: 28px;
  color: #333;
  background-color: #f2f2f2;
  border-bottom: solid 1px #ccc;
  height: 74px;
}

label {
  font-size: 12px;
  color: #666;
}

input[type=image] {
  margin-top: 20px;
}

/* 테이블 */
table {
  width: 98%;
  margin: 10px;
}

/* tr {
  border-bottom: 1px solid #ccc;
} */

/* tr:last-child {
  border-bottom: 0;
} */

th { 
  padding: 10px 20px;
  background-color: #fafafa;  
  border-bottom: 1px solid #ccc;
}

td {
  padding: 5px 20px;
  border-bottom: 1px solid #ccc;
}

.qnaBtn {
  text-align: center;
  border-bottom: 0;
}

label {
  font-size: 12px;
  color: #333;
}

span {
  font-size: 16px;
  color: #5f0080;
}

input[type=text]{
  /* width: 100%; */
  height: 44px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  font-size: 14px;
  margin: 0;
}

select{
  height: 44px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

textarea {
  width: 100%;
  height: 200px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  padding-left: 5px;
}

