* {
  margin: 0; padding: 0;
  text-decoration: none;
}
.cartSelect {
  z-index: 2;
  width: 69%;
  height: 50px;
  padding-top: 10px;
}
.cartList {
  width : 69%;
  display : inline-block;
  border-top: 2px solid;
  border-bottom: 3px solid;
}
.productInfo {
  height : 100px;
}
.inner_select {
  position: static;
  padding: 0 10px 0 2px;
  width: 100%;
}
.cartSelect .check {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -.3px;
  float: left;
}
input[type=checkbox] {
  display: none;
  position: absolute;
  z-index: -1;
  opacity: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 0;
}
input[type=checkbox]:checked+.ico {
  background-image: url(/img/order/ico_checkbox_checked.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 50%;
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border: 0;
  vertical-align: -7px;
}
input[type=checkbox]+.ico {
  background-image: url(/img/order/ico_checkbox.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 50%;
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border: 0;
  vertical-align: -7px;
}
.ico {
  margin-right: 5px;
}
.cartSelect .btn_delete {
  float: left;
  font-weight: 700;
  line-height: 25px;
  font-size: 14px;
  margin-left: 15px;
  color: #111;
}
.innerInfo {
  width: 100%;
  border-bottom: 2px solid; color: #e1e1e1;
  height: 150px;
}
.productImg {
  width: 60px;
  height: 78px;
  margin-left: 30px;
  margin-right: 20px;
}
.productName {
  display: inline-block;
  margin-right: 10%;
  font-size: 18px;
  width: 280px;
}
.productNum {
  border-radius: 10px; 
  border: 3px solid #e1e1e1;
  text-align: center;
  width: 85px;
  height: 30px;
  display: inline-block;
  margin-right: 8%;
}
.innerName {
  font-size: 14px;
  font-weight: 500;
  color: #999;
}
.innerInfo .price {
  text-align: right;
  height: 100%;
  width: 30px;
}


.cart_result {
  position: relative;
  float: right;
  width: 284px;
}
.inner_result {
  position: absolute;
  top: 0px;
  right: 0;
  width: 284px;
  background-color: #fff;
}
.amount_view {
  padding: 9px 18px 18px 20px;
  border: 2px solid #e1e1e1;
  background-color: #fafafa;
}
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
dd {
  display: block;
  margin-inline-start: 40px;
}
.amount {
  overflow: hidden;
  padding-top: 9px;
  font-weight: bold;
}
.tit {
  float: left;
  width: 80px;
  font-weight: 400;
  letter-spacing: -.5px;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  font-weight: bold;
}
.amount_view .price {
  float: right;
  line-height: 24px;
  text-align: right;
}
.amount_view .amount .price .num {
  letter-spacing: -.5px;
  font-size: 18px;
}
.amount_view .amount .won {
  padding-left: 2px;
  font-size: 16px;
  vertical-align: 1px;
}
.amount_lst {
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: 2px solid #eee;
  font-weight: bold;
}
.reserve {
  padding-top: 9px;
  font-size: 12px;
  color: #666;
  list-style: 16px;
  text-align: right;
}
.bage {
  display: inline-block;
  height: 18px;
  margin-right: 4px;
  padding: 0 6px;
  font-weight: 700;
  line-height: 16px;
  vertical-align: 1px;
  border: 1px solid #5f0081;
  border-radius: 9px;
  background-color: #eee;
  font-size: 10px;
  color: #5f0081;
}
.btn_submit {
  position: static;
  padding: 20px 0 0;
  background: 0 0;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
}
.btn_active {
  height: 56px;
  width: 100%;
  padding-bottom: 2px;
  line-height: 54px;
  border-radius: 10px;
  border: 1px solid #5f0081;
  background-color: #5f0080;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  outline: none;
}