.wrap div{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputBox {
  margin-top: 50px;
  padding: 30px 50px 50px;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
}

input[type=text]{
  width: 330px;
  height: 44px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  font-size: 14px;
  padding-left: 5px;
  margin:3px 5px 3px 0;
}

input[type=image] {  
  margin:3px 5px -15px 0;
}



label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.star{
  font-size: 16px;
  color:red
}

.row{
  border-bottom: #666 solid 1px;
}

td:nth-child(1) {
  width: 15%;
  text-align: left;
  vertical-align: top;
  padding-top: 13px;
}
td:nth-child(2) {
  width: 90%;
  font-size: 12px;
  color: #666;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 15px;
}

input[type=radio] { display:none; }

input[type=radio] + label {   
  margin-top: 15px;
  display: inline-block; 
  cursor: pointer; 
  line-height: 22px; 
  padding-left: 22px; 
  background: url('/img/member/r_check_n.png') left/22px no-repeat; 
}

input[type=radio]:checked + label { 
  background-image: url('/img/member/r_check_y.png');
}


ul{
   list-style:none;
   }
  .but {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .subTitle span{
    color: #5f0080;
  }
  .location{
    margin-top: -15px;
  }
  .box_b, .box_c, .box_d{
    display: none;
  }