table{
  margin-bottom:5px;
 }
 
 .td_1{
   width: 150px;
   padding-bottom: 20px;
 }


 .main_1{
   display: flex;
   justify-content: center;
 }
 .sub{
   border-bottom: 2px solid #666;
   font-size: 20px;
   margin-bottom: 5px;
   padding-bottom: 10px;
   padding-top: 20px;
 }
 .add{
   margin-left: 200px;
   margin-bottom: -5px;
 }
 .sub input[type=checkbox]{
  padding-left: 200px;
 }
 .sub span{
   color: #666;
 }
 
 .member_1{
   width: 500px;
   height: auto;
 }
 .member_1 p{
   color: #ccc;
   font-size: 12px;
 }
 .order_1{
   width: 500px;
   height: auto;
   padding-left: 80px;
 }
 .main_2{
   width: 800px;
   margin-top: 50px;
 }
 .order_2{
   width: 260px;
   height: 350px;
   margin-top: 50px;
   background-color: #ccc;
   border: 1px solid #666;
  margin-bottom: 5px;

 }
 .in_order{
   padding: 45px;
   padding-top: 25px;
 }
 .in_order table{
   height: 250px;
   border-bottom: 1px solid #666;
 }
 .tb_s{
   font-size: 12px;
   color: #666;
 }
 
 
 
 .point_0 input[type=text]{
   text-align: right;
 }
 /* 보안접속 checkbox */
input[type=checkbox] { 
 display:none;

}
input[type=checkbox] + label { 
 display: inline-block;
 cursor: pointer; 
 line-height: 24px;
 padding-left: 22px;
 font-size: 12px;
 background: url('/img/member/check_n.png') left/22px no-repeat; 
}
input[type=checkbox]:checked + label { 
 background-image: url('/img/member/check_y.png'); 
} 
/* 보안접속 checkbox - end */
/* 라디오박스 */
.a1 input[type=radio] { display:none; }

.a1 input[type=radio] + label {   
  margin-top: 15px;
  display: inline-block; 
  cursor: pointer; 
  line-height: 22px; 
  padding-left: 22px; 
  background: url('/img/member/r_check_n.png') left/22px no-repeat; 
}

.a1 input[type=radio]:checked + label { 
  background-image: url('/img/member/r_check_y.png');
}

.checkbox{
 padding-left: 520px;
}
/* 라디오박스 */
.kakao{
 width: 500px;
background-color: yellow;
text-align: center;
border-radius: 30px;
}
.row1{
 margin-left: 30px;
}
.point{
font-size: 12px;
color: #5f0080;
border: 1px solid #5f0080;
border-radius: 30px;
width: 120px;
margin-left: 40px;
margin-top: 5px;
}

a:link {
color : #5f0080;
}
a:visited {
color : #5f0080;
}
a:hover {
color : #5f0080;
}
a:active {
color : #5f0080;
}
.bold{
  font-weight: bold;
}
.right{
  text-align: right;
}
.check{
  color: #666;
  font-size: 20px;
}
.easyPayment, .CreditCard, .phone{
  display: none;
} 
.p_1{
  display: flex;
}
.Pay{
    width: 150px;
    height: 50px;
    border: 1px solid;
    text-align: center;
    
    margin-top: 10px;
}
.size{
  width: 200px;
  height: 40px;
  margin-top: 10px;
}
.a1{
  height: 125px;
  margin-bottom: 20px;
}

.a2 li{
  color: #ccc;
  font-size: 12px;
}
.payment{
  padding-bottom: 30px;
}

.p_1 input[type=radio] { display:none; }

.p_1 input[type=radio] + label {   
  width: 150px;
  height: 50px;
  padding-top: 10px;
  cursor: pointer; 
 
}

.p_1 input[type=radio]:checked + label { 
  background-color: #5f0080;
  color: white;
}




