@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #666;
}

a {
  color: #666;
}
a:hover {
  color: #666;
}
a:active {
  color: #666;
}

/* 좌측메뉴박스(aside)와 공지사항 박스(bbs_wrap) */
.adminBox {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 20px;
  padding-top: 170px;
}

/* left Menu width */
.aside {
  width: 250px;
}

/* right content width */
.bbs_wrap {
  width: 75%;
  margin-left: 0;
  padding-left: 0;
}

ul{
  list-style: none;
}

/* left-menu */            
.list-menu {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.list-menu a{
  text-decoration: none;
}

.none{
  font-size: 14px;  
  font-weight:500;     
  border: 1px solid #f2f2f2;
  color: #999;
  height: 50px;
  line-height: 50px;
  width: 200px;
  padding-left: 20px;
}
.none a{
  font-size: 14px;   
  font-weight:500;     
  border: 1px solid #f2f2f2;
  color: #999;
  height: 50px;
  line-height: 50px;
  width: 200px;
  padding-left: 20px;
}
.none:hover{
  font-size: 14px;   
  font-weight:500;
  color: #000; 
  /* color: rgb(95, 0, 128);  */
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #eee;
}

.active {
  font-size: 14px;   
  font-weight:500;
  width: 200px;
  color: #000;  
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #eee;     
  border: 1px solid #f2f2f2;
}


/* list메뉴의 맨 아랫줄 빼고 겹치는 줄을 없애줌, collapse와 비슷한 기능 */
.list-menu li:nth-child(-n+3){
  border-bottom: none;
}

.list-menu {
  border-bottom: 1px solid #f2f2f2;
}

.last {
  border-bottom: "";
  border-bottom: 1px solid #cc1616;
}
/* left-menu end */   

/* 페이지 타이틀 */
.pageTitle {
  font-size: 18px;
  color: #333;
  padding: 10px 0;
}

/* 검색테이블 */
.schTable {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-top: 1px solid #eee;
}
.schTable tr {
  border-bottom: 1px solid #eee;
}
.schTable td {
  padding: 10px;  
  /* text-align: left; */
}
.labelTxt {
  background-color: #f4f4f4;
}
.btnTd {
  text-align: center;
  background-color: #fff;
}
/* 검색테이블 end */

/* 검색필드 */
select {
  height: 28px;
  border: 1px solid #ccc;  
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
input {
  height: 28px;
  border: 1px solid #ccc;  
  border-radius: 3px;
  padding-left: 5px;
  color: #666;
  margin: 3px 0;
}
textarea {
  border: 1px solid #ccc;
  color: #666;
}
.btnSch {
  width: 150px;
  height: 32px;
  background-color: #000;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btnSch2 {
  width: 150px;
  height: 32px;
  background-color: #eee;
  text-align: center;
  color: #333;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* 검색필드 end */

/* 버튼 */
input[type=button] {
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #000;
  font-size: 14px;
  margin-right: 5px;
}

/* 페이지하단 버튼 + 페이지네이션 */
.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* 페이지네이션 -start */
.pagination {
  width: 50%;
  font-size: 11px;
  display: flex;
  justify-content: right;
  margin-right: 5px;
}
.pagination:focus {
  color: rgb(95, 0, 128);
  text-decoration: none;
  background-color: rgba(228, 228, 228, 0.4);
}
.pagination a {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  /* border: 1px solid rgba(228, 228, 228); */
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  border-left: 1px solid rgb(200, 200, 200);
  margin-left: -1px;
}
.pagination a:hover {
  color: rgb(95, 0, 128);
  text-decoration: none;
  background-color: rgba(228, 228, 228, 0.4);
}
.pagination a.active {
  background-color: rgba(228, 228, 228, 0.4);
  color: rgb(95, 0, 128);
}

  /*pagenation 코딩소스-start
  <div class="pagination">
      <a href="#"><<</a>
      <a href="#"><</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">></a>
      <a href="#">>></a>
  </div>
  /*pagenation 코딩소스-end

/* 페이지네이션 - end */  

/* 아코디언 */
.accodion_tit {
color: #666;
text-align: left;
cursor: pointer;
}

.accodion_tit:hover{
color: rgb(95, 0, 128);
text-decoration: none;
}

.faq_txt {
color: #666;
text-align: left;
padding: 20px 50px 50px 20px;
}



/* checkbox */
input[type=checkbox] { display:none;}
input[type=checkbox] + label { 
  display: inline-block;
  cursor: pointer; 
  line-height: 22px;
  padding-left: 22px;
  margin-top: 7px;
  font-size: 12px;
  background: url('/img/admin/check_n.png') left/22px no-repeat; 
}
input[type=checkbox]:checked + label { 
  background-image: url('/img/admin/check_y.png'); 
}

/* radio */
input[type=radio] { display:none; }
input[type=radio] + label {   
  margin-top: 15px;
  display: inline-block; 
  cursor: pointer; 
  line-height: 22px; 
  padding-left: 22px; 
  background: url('/img/admin/r_check_n.png') left/22px no-repeat; 
}
input[type=radio]:checked + label { 
  background-image: url('/img/admin/r_check_y.png');
}