        /* 배너 */
        .goodsBnr {
            width: 100%;
            margin-top: 2%;
            margin-left: 14px;
            margin-bottom: 5%;
        }

        /* 카테고리 2depth */
        .goods1 {
            width: 100%;
            text-align: center;
        }

        /* 카테고리 3depth */
        .goods2 {
            position: relative;
            width: 1085px;
            height: 120px;
            padding: 30px;
            top: 10px;
            left: 13px;
            border: 1px solid rgb(228, 228, 228);
        }
        .goods2 > ul {
            display: flex;
            justify-content: left;
            font-size: 13.5px;
        }
        .goods2 > ul:nth-child(1) {
           margin-bottom: 20px;
        }
        .goods2 > ul > li {
            width: 200px;
            margin-right: 60px;
        }
        .goods2 > ul > li > a {
            color: black;
            text-decoration: none;
        }
        .goods2 > ul > li > a:hover {
            color: rgb(95, 0, 128);
        }
        .goods2 > ul > li > a:focus {
            color: rgb(95, 0, 128);
        }

        /* 검색조건 */
        .searchCriteria {
            width: 100%;
            height: 50px;
            position: relative;
            top: 27px;
            right: 11px;
            font-size: 11px;
            color: rgb(228, 228, 228);
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .searchCriteria > ul > li > a {
            color: rgb(130, 130, 130);
            text-decoration: none;
        }
        .searchCriteria > ul > li > a:focus {
            color: rgb(10, 10, 10);
            text-decoration: none;
        }

        /* 등록상품 */
        .goods {
            width: 100%;
            height: 1000px;
            margin-top: 2%;
            /* border: 1px solid blue; */
        }
        .goods > ul {
            width: 98.3%;
            height: 500px;
            /* border: 1px solid red; */
            display: flex;
            justify-content: space-between;
            position: relative;
            left: 1%;
        }
        .goods ul li a:hover {
            text-decoration: none;
        }
        .goodsImg {
            max-width: 250px;
            max-height: 320px;
            overflow: hidden;
            position: relative;
        }
        .goodsImg img:nth-child(1) {           
            transition: all 0.2s linear;
        }
        .goodsImg img:nth-child(1):hover {
            transform: scale(1.02, 1.02);   
        }
        .goodsText {
            margin-top: 10px;
        }
        .goodsText p:nth-child(1) {
            /* border: 1px solid red; */
            width: 249px;
            height: auto;
            overflow: hidden;
        }
        .name {
            margin-top: 10px;
            font-size: 16px;
        }
        .price, .pdSale {
            margin-top: -8px;
        }
        .price, .pdSale {
            font-weight: bold;
            margin-top: -10px;
        }
        .sale {
            color: red;
            margin-right: 8px;
        }
        .price2 {
            font-size: 14px;
            text-decoration: line-through;
            color: grey;
        }
        .pdSummary {
            font-size: 11px;
            color: grey;
        }
        .addCart {
            position: absolute;
            right: 13px;
            top: 265px;
        }