.main {
    margin-top: 2%;
    height: auto;
}

/* section1 */
.detail {
    width: 99%;
    height: auto;
    display: flex;
    margin-top: -1%;
}
.section1 {
    flex: 30%;
    margin-left: 15px;
    margin-bottom: 5%;
    height: auto;
}

/* point question popup */
.questionPop {
    width: 250px;
    height: 95px;
    font-size: 12px;
    border: 1px solid #666;
    background-color: white;
    border-radius: 3px;
    padding: 10px 15px;

    position: absolute;
    z-index: 50;
    margin-left: 23.5%;
    margin-top: 7.5%;
    display: none;
}
.questionPop b {
    color: rgb(95, 0, 128);
}
.questionPop img {
    position: relative;
    left: 95%;
    bottom: 100%;
    cursor: pointer;
}

/* section2 */
.section2 {
    flex: 36%;
    height: auto;
    margin-bottom: 5%;  
}
.name {
    font-size: 24px;
    font-weight: 550;
    margin-left: 20px;
}
.summary {
    font-size: 13px;
    font-weight: 550;
    color: #666;
    margin-top: -15px;
    margin-left: 23px;
}
.properties {
    font-size: 13px;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-items: left;
    text-align: center;
    align-items: center;
    margin-left: 20px;
}
.properties div {
    background-color: rgb(95, 0, 128);
    color: #fff;
    width: 60px;
    margin-right: 10px;
    padding: 4px 0 4px 0;
    border-radius: 4px;
}
.title, .content {
    font-size: 13px;
    height: 50px;
    border-bottom: 1px solid rgba(230, 230, 230,0.5);
}
.title {
    width: 120px;
    color: #333;
}
.title:nth-last-child(2) {
    width: 160px;
}
.content {
    color: black;
}

/* 적립금 */
.point .content span:nth-child(1) {
    display: inline-block;
    width: 75px;
}
.point img {
    position: relative;
    right: 5px;
    bottom: 1.4px;
}

/* 수량 */
/* 단일상품 */
/* .count .content span {
    display: inline-block;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px 3px;
}
.countDBtn,
.countUBtn {
    background-color: #fff;
    width: 23px;
    height: 23px;
}
.countDBtn img {
    margin-top: -3.4px;
}
.countUBtn img {
    margin-top: -4px;
    margin-left: -6.5px;
}
.countInput {
    position: relative;
    width: 40px;
    height: 25px;
    border: none;
    color: #333;
    text-align: center;
}
.countInput:focus {
    outline: none;
} */

/* 다량상품 */
/* 박스크기가..왜....부족할까... */
/* 왜 버튼은 움직일까... */
.option .content #goodsOptBtn {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 35px;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    padding: 6px 10px 10px 10px;
}
.goodsOptList {
    list-style: none;
    width: 100%;
}
.goodsOpt {
    display: none;
    position: absolute;
    z-index: 100;

    width: 375px;
    height: auto;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
}
.goodsOpt li a {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 373px;
    height: 35px;
    padding: 8px 10px;
}
.goodsOpt li a:hover {
    text-decoration: none;
    background-color: #eee;
}
#goodsOptBtn span:nth-child(1) {
    margin-bottom: 10px;
}
.goodsOpt2 li {
    width: 90%;
    height: auto;
    position: relative;
    left: 37px;
    top: 10px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
    z-index: 99;
}
.selectedOpt, .selectedOpt2 {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.liClose {
    cursor: pointer;
}
.selectedOpt2 {
    margin-top: 10px;
}
.selectedOpt2 > span:nth-child(1) {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px 3px;
}
.selectedOpt2 > span:nth-child(1) > button {
    background-color: #fff;
    width: 23px;
    height: 23px;
    border: none;
}
.selectedOpt2 > span:nth-child(1) > button > img {
    margin-top: -4px;
    margin-left: -4px;
}
.countInput {
    position: relative;
    width: 40px;
    height: 25px;
    border: none;
    color: #333;
    text-align: center;
}
.countInput:focus {
    outline: none;
}
.selectedOpt2 > span:nth-child(2) {
    margin-top: 2px;
}
/* 총 결제금액 */
.totalPrice {
    font-weight: bold;
    border-bottom: none;
}
.totalPrice .title {
    font-size: 20px;
}
.totalPrice .content {
    text-align: right;
    font-size: 20px;
}
.totalPrice p:nth-child(1) {
    margin-top: 3%;
}
.totalPrice p:nth-child(2) {
    font-size: 13px;
    color: rgb(95, 0, 128);
    margin-top: -3%;
}
/* 장바구니, 주문하기 */
.putInCart, .order {
    font-size: 16px;
    font-weight: bold;
    width: 260px;
    height: 55px;
    margin-top: 3%;
    color: #fff;
    background-color: rgb(95, 0, 128);
}
.order {
    font-size: 16px;
    position: relative;
    left: 7px;
}

/* section3 */
.section3 {
    width: 97.5%;
    height: auto;
    margin-left: 15px;
    text-align: center;
    color: #666;
}

/* 탭메뉴 */
ul.tabs {
    margin: 0px;
    padding: 0px;
    position: sticky; 
    top: 0; 
    z-index: 100;
}
ul.tabs li {
    border: 1px solid #e6e6e6;
    background-color: #eee;
    color: #333;
    display: inline-block;
    padding: 16px 10px 10px 10px;
    cursor: pointer;
    margin: 0;
    width: 216px;
    height: 60px;
    text-align: center;
}
ul.tabs li.current {
    border-bottom: none;
    background-color: #fff; 
    color: rgb(95, 0, 128);
}
.tab-content {
    background: none;
    padding: 15px;
}
.tab-content.current {
    display: inherit;
}

/* section3-intro */
.goodsIntro {
    text-align: left;
    padding-top: 20px;
}
.introImg {
    width: 1065px;
    height: auto;
    margin-left: -7px;
}
.pic {
    margin-top: 7%;
    margin-left: 2%;
}
.intro {
    color: #666;
}
.intro h3 {
    margin-top: 5%;
    text-align: center;
}
.intro b {
    color: #666;
}
.section3 > hr {
    color: #666;
}
.intro > div {
    margin: 3% 0;
}

/* checkPoint */
.goodsPoint {
    width: 100%;
}
.subTitle {
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 70px;
    font-weight: 700;
}

/* pick */
.pickText {
    margin-top: 5%;
    margin-left: 2%;
}
.pickText p {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 14px;
}
.pickImg {
    margin: 5% 0 10% 0;
}

/* allergy */
.allergyDetail {
    width: 100%;
    margin-top: -3%;
    margin-bottom: 3%;
}
.allergyDetail span {
    position: relative;
    left: 1.5%;
    font-size: 15px;
    font-weight: bold;  
}
.allergyDetail p {
    border-top: 2px solid rgb(95, 0, 128);
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
    padding: 3%;
}

/* review & qna */
.box {
    width: 100%; 
    padding-top: 70px;   
}
.boxTitle {
    display: flex;
    flex-flow: row;
}
.box span {
    position: relative;
    left: 1.5%;
    justify-content: flex-start;
}
.box span:nth-child(1) {
    font-size: 15px;
    font-weight: bold;  
}
.box span:nth-child(2) {
    position: relative;
    top: 2px;
    font-size: 12px;
}
table {
    width: 100%;
}
th {
    padding: 0 15px;
    height: 50px;
    border-top: 2px solid rgb(95, 0, 128);
    border-bottom: 1px solid rgb(0, 0, 0);
    color: #333;
    font-size: 13px;
}
td {
    padding: 0 20px;
    height: 50px;
    color: #333;
    font-size: 13px;
    border-bottom: 1px solid #f1f1f1;
}
.goodsWrite {
    width: 100%x;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2%;
}
.goodsWrite a {
    width: 130px;
    height: 35px;
    position: relative;
    top: 1px;
    text-align: center;
    padding-top: 2px;
    background-color: rgb(121, 91, 141);
    border: 1px solid rgb(95, 0, 128);
}
.goodsWrite span {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 130px;
    height: 35px;
    color: #eee;
    padding: 6px 25px 5px 26px;
}
.goodsWrite a:hover {
    text-decoration: none;
    background-color: transparent;
}
.goodsWrite a span:hover {
    text-decoration: none;
    color: rgb(95, 0, 128);
}

/* review */
#tab-2 {
    width: 100%;
    margin-bottom: 3%;
}
#review {
    border-collapse:collapse; 
}
#review tr.odd td { 
    cursor:pointer; 
}
#review tr:nth-child(2n):hover {
    background-color: rgba(238, 238, 238, 0.5); 
}
.review_txt {
    width: 100%;
    padding: 3%;
}
.review_txt > div:nth-child(2) {
    font-size: 16px;
}

/* Qna */
#tab-3 {
    width: 100%;
    margin-bottom: 3%;
}
#qna {
    border-collapse: collapse; 
    color: #333;
    font-size: 13px;
}
#qna tr.odd td { 
    cursor:pointer; 
}
.qnaTitle {
    padding-left: 30px;
}
.qna_txt {
    width: 100%;
    padding: 3%;
    background-color: rgba(238, 238, 238, 0.5);
}
.qnaNoticeIcon {
    background-color: rgb(238, 238, 238);
    color: #333;
    padding: 3px 10px;
    border-radius: 5px;
    position: relative;
    top: 2.5px;
    margin-right: 5px;
}
.qna_question, .qna_answer {
    display: flex;
}
.qna_question span:nth-child(2),
.qna_answer span:nth-child(2) {
    margin-top: 2px;
    margin-left: 10px;
}
.qna_question {
    margin-bottom: 40px;
}

/* delivery */
#tab-4 {
    width: 100%;
    margin-bottom: 3%;
}
.deliveryNotice {
    padding-top: 70px;
}
.deliveryNotice span {
    position: relative;
    left: 1.5%;
    font-size: 15px;
    font-weight: bold;  
}
.deliveryNotice p {
    border-top: 2px solid rgb(95, 0, 128);
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
    padding: 3%;
}

/* return */
#tab-5 {
    width: 100%;
    margin-bottom: 3%;
}
.returnNotice {
    padding-top: 70px;
}
.returnNotice span {
    position: relative;
    left: 1.5%;
    font-size: 15px;
    font-weight: bold;  
}
.returnNotice p {
    border-top: 2px solid rgb(95, 0, 128);
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
    padding: 3%;
}