.sTitleBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.infoTxt {
  font-size: 14px;
  color: #999;
  padding-left: 20px;
  margin-bottom: 5px;
}

/* 리뷰메뉴 */
.reviewBtn {
  display: flex;
  flex-flow: row nowrap;
  /* border-top: 2px solid rgb(95, 0, 128); */
}
.reviewBtn div,
.reviewBtn button {
  width: 50%;
  padding: 20px;
  text-align: center;
}
.reviewBefore {
  font-size: 18px;
  color: #666;
  background-color: #f8f8f8;
}
.reviewAfter {
  font-size: 18px;
  color: #fff;
  background-color:rgb(95, 0, 128);
}


/* 목록테이블 */
table {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
}

th {
  padding: 0 15px;
  height: 50px;
  border-top: 2px solid rgb(95, 0, 128);
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

td {
  padding: 0 20px;
  height: 50px;
  color: #666;
  font-size: 12px;
  line-height: 2.0;
  border-bottom: 1px solid #f1f1f1;
}
.proName {
  font-size: 14px;
  color: #333;
  line-height: 14px;
}


/* 페이지네이션 */
.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

