/* 상품정보 */
.orderInfo {
  width: 98%;
  padding: 20px;
} 
.orderInfo td:nth-child(1){
  width: 12%;
}
.orderInfo img {
  margin-right: 10px;
}

/* 리뷰테이블 */
table {
  width: 98%;
  margin: 10px;
}

table td{
  padding: 5px 20px;
}

.proName {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

input[type=text]{
  width: 100%;
  height: 44px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  font-size: 14px;
  margin: 0;
}

.star{
  width: 100%;
  border: 1px solid #ccc;
  text-align: left;
  padding: 20px 10px;
}
.star li {
  font-size: 12px;
  color: #333;
}
.starTitle {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin-right: 30px;
}
.txt {
  padding-left: 30px;
  font-size: 12px;
  color: #666;
}

textarea {
  width: 100%;
  height: 200px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
}

.reviewbtn {
  padding-top: 10px;
  text-align: center;
}
