.bbs_wrap div {
  display: inline-block;
  margin-bottom: 5px;
}

.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* 목록테이블 */
table {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
  border-top: 2px solid rgb(95, 0, 128);
}
table td {
  padding-top: 20px;
  padding-bottom: 10px;
}

.infoOut {
  background-color: #f8f8f8;
  font-size: 12px;
  color: #666;
}

.option {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

tr {
  border-bottom: 1px solid #ccc;
}
tr:last-child {
  border-bottom: 0;
}

td {
  padding: 10px 0px;
  height: 50px;
  color: #666;
  font-size: 12px;
}

td:nth-child(1) {
  padding-left: 20px;
}

label {
  font-size: 12px;
  color: #333;
  margin-right: 15px;
  font-weight: 500;
}

span {
  font-size: 16px;
  color: #5f0080;
}

textarea {
  height: 44px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type=password] {
  height: 44px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

/* 버튼 우측정렬 */
.bottom {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  width: 100%;
  text-align: right;
}