table {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}




.comment {
  font-size: 14px;
  color: #333;
  padding: 30px 0 25px 0;
}

.comment p {
  font-size: 14px;
  color: #666;
  text-align: center;
}

/* sch 결과 */
img {
  float: left;
  margin-right: 10px;
}
.schId, .schEmail {
  padding-right: 10px;
  font-size: 18px;
  color: #5f0080;
}
.joinDate, .info {
  font-size: 12px;
  color: #666;
}