.sTitleBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.inputBox2 {
  /* margin-top: 50px; */
  padding: 10px;
  border-top: 2px solid #5f0080;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
}