.sTitleBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}


/* 목록테이블 */
table {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
  border-top: 2px solid rgb(95, 0, 128);
}

table td {
  padding: 50px 0 50px 20px;
}

.txt1 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.txt2 {
  font-size: 14px;
  color: #666;
}

input[type=password]{
  border: 1px solid #ccc;
  height: 44px;
  width: 300px;
  padding-left: 5px;
  font-size: 30px;
  color: #666;
}
input[type=image] {
  vertical-align: middle;
  padding-bottom: 16px;
}