/* mypgage header */
.myInfo {
  margin-top: -8px;
  background-color: #f7f7f7;
  padding: 50px;  
}

.myInfo-wrap{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 20px;
}
.myInfoBox {
  background-color: #fff;
  padding: 30px;
  margin-right: 10px;
  border-radius: 5px;
}
.myInfoBox:nth-child(1){
  width: 30%;
}
.myInfoBox:nth-child(2){
  width: 20%;
}
.myInfoBox:nth-child(3){
  width: 17%;
}

.myInfo_name {
  font-size: 20px;
  color: #333;
  margin-left: 10px;
  margin-right: 10px;
}
input[type=image] {
  vertical-align: middle;
}
.myInfoPoint {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #5f0080;
}
.myInfoBox p {
  font-size: 12px;
  color: #666;
}




/* 고객센터 박스 (aside)와 공지사항 박스(bbs_wrap) */
.box {
  margin-left: 20px;
  margin-top: 50px;
}

/* left Menu width */
.aside {
  width: 20%;
}

/* right content width */
.bbs_wrap {
  width: 75%;
}

/* left Menu */
.bbsTitle {
  padding-bottom: 20px;
  font-size: 28px;
  color: #333;
}

/* 고객센터(list-menu) */            
.list-menu {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.none{
  font-size: 14px;  
  font-weight:500;     
  border: 1px solid #f2f2f2;
  color: #666;
  height: 50px;
  line-height: 50px;
  width: 200px;
  padding-left: 20px;
}
.none a{
  font-size: 14px;   
  font-weight:500;     
  border: 1px solid #f2f2f2;
  color: #666;
  height: 50px;
  line-height: 50px;
  width: 200px;
  padding-left: 20px;
}
.none:hover{
  font-size: 14px;   
  font-weight:500;
  color: rgb(95, 0, 128); 
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #fafafa;
}

.active {
  font-size: 14px;   
  font-weight:500;
  width: 200px;
  color: rgb(95, 0, 128); 
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #fafafa;     
  border: 1px solid #f2f2f2;
}


/* list메뉴의 맨 아랫줄 빼고 겹치는 줄을 없애줌, collapse와 비슷한 기능 */
.list-menu li:nth-child(-n+3){
  border-bottom: none;
}

.list-menu {
  border-bottom: 1px solid #f2f2f2;
}

.last {
  border-bottom: "";
  border-bottom: 1px solid #cc1616;
}

/* list-menu 오버시 보라색 화살표로 변함 */
.list-menu li:hover .list_img2 {
  display: inline-block;
  top: 14px;
  
}

/* snb의 검정색 화살표 */
.list_img {
  width: 20px;
  height: 20px;
  top: 14px;
  position: absolute;
  right: 10px;
}
/* snb의 보라색 화살표 */
.list_img2 {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
}