.sTitleBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.infoTxt {
  font-size: 14px;
  color: #999;
  padding-left: 20px;
  margin-bottom: 5px;
}
.infoSch{
  width: 55%;
  text-align: right;
  margin-bottom: 15px;
}
.order_sch {
  font-size: 14px;
  color: #666;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

/* 목록테이블 */
table {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
  border-top: 2px solid rgb(95, 0, 128);
}

.orderTime {
  font-size: 16px;
  color: #333;
  padding: 20px 0 10px 5px;  
}

.orderInfo {
  border: 1px solid #ccc;
  padding: 20px;
}

.proName {
  width: 100%;
  font-size: 16px;
  color: #000;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.orderInfo ul {
  width: 100%;
  margin-top: 10px;
}
.orderInfo ul li:nth-child(1) {
  width: 12%;
}
.orderInfo ul li:nth-child(2) {
  width: 8%;
  font-size: 14px;
  color: #666;
  padding-top: 10px;
}
.orderInfo ul li:nth-child(3) {
  width: 62%;
  font-size: 14px;
  color: #333;
  padding-top: 10px;
}
.orderInfo ul li:nth-child(4) {
  text-align: right;
  padding-top: 10px;
}
.orderView {
  margin-bottom: 5px;
}

.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

