.bbs_wrap div {
  display: inline-block;
  margin-bottom: 5px;
}

.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.orderTxt {
  font-size: 14px;
  color: #999;
  padding-left: 5px;
}
.orderNo {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}
.orderState {
  font-size: 18px;
  color: #5f0080;
  font-weight: 500;
}


/* 목록테이블 */
table {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
  border-top: 2px solid rgb(95, 0, 128);
}
table td {
  padding-top: 20px;
  padding-bottom: 10px;
}

.orderInfo {
  border: 1px solid #ccc;
  padding: 20px;
}

.orderDate,
.orderBtn {
  display:inline-block;
  width: 49%;
  text-align: right;
}

/* 상품정보 */
.orderPro{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.orderPro div:nth-child(1){
  width: 10%;
  vertical-align: top;
}
.orderPro div:nth-child(2){
  width: 52%;
  font-size: 14px;
  color: #333;
}
.orderPro div:nth-child(3){
  width: 10%;
  font-size: 14px;
  color: #333;
}
.orderPro div:nth-child(4){
  width: 10%;
  font-size: 14px;
  color: #333;
}
.orderPro div:nth-child(5){
  width: 10%;
}
.option {
  font-size: 12px;
  color: #333;
}
.salePrice {
  text-decoration:line-through;
  color: #666;
}
.orderView {
  margin-bottom: 5px;
}

/* 결제정보/주문정보 */
.tblTitle {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}
.tbl {
  width: 95%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
  border: 0;
  padding: 5px 5px;
  font-size: 14px;
  color: #666;
}
.tbl tr:nth-child(1) {
  border-bottom: 1px solid #ccc;
}
.tblTr {
  background-color:#f8f8f8;
}
.tbl td:nth-child(2) {
  text-align: right;
}
.tblBlack {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.orderBanner {
  margin-top:35px;
}

/* 배송정보 */
.tblDelivery {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
  border: 0;
  padding: 5px 5px;
  font-size: 14px;
  color: #666;
}
.tblDelivery tr:nth-child(1) {
  border-bottom: 1px solid #ccc;
}


/* pagenation 중앙정렬 */
.bottom {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: right;
}