.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* 목록테이블 */
table {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
}

th {
  padding: 0 15px;
  height: 50px;
  border-top: 2px solid rgb(95, 0, 128);
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

td {
  padding: 0 20px;
  height: 50px;
  color: #666;
  font-size: 12px;
  border-bottom: 1px solid #f1f1f1;
}

.bottom {
  margin-top: 20px;
}
.bottom td {
  border: 0;
}

/* 댓글아이콘 */
.reply {
  padding-right: 10px;
}


/* 글쓰기 */
.qna_sch {
  width:200px;
}