.sTitle {
  padding-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* 목록테이블 */
table {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
  border-top: 2px solid rgb(95, 0, 128);
}

tr {
  border-bottom: 1px solid #ccc;
}
tr:last-child {
  border-bottom: 0;
}

td {
  padding: 10px 0px;
  height: 50px;
  color: #666;
  font-size: 12px;
}

td:nth-child(1) {
  padding-left: 20px;
}

label {
  font-size: 12px;
  color: #333;
}

span {
  font-size: 16px;
  color: #5f0080;
}

select,textarea,
input[type=text],
input[type=email]{
  height: 44px;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #999;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type=image] {
  vertical-align: middle;
  margin-bottom: 5px;
}

#subject {
  width: 90%;
}
#email {
  width: 300px;
  margin-right: 10px;
}

/* 이메일수신 checkbox */
input[type=checkbox] { display:none;}
input[type=checkbox] + label { 
  display: inline-block;
  cursor: pointer; 
  line-height: 24px;
  padding-left: 22px;
  font-size: 12px;
  background: url('/img/member/check_n.png') left/22px no-repeat; 
}
input[type=checkbox]:checked + label { 
  background-image: url('/img/member/check_y.png'); 
}
/* 보안접속 checkbox - end */

.bottom {
  text-align: center;
  height: 100px;
}

.img_wrap {
  display:inline-block;
}
